@using System.Web.Optimization
@using abw.ViewModels;
@model CarForDisplay
@{
	ViewBag.Title = Model.Name;
}
@section styles
{
	@Styles.Render("~/Content/styles/custom/cars")
	@Styles.Render("~/Content/styles/fotorama.css")
}
@section scripts
{
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['fotorama']);
		});
	</script>
}

@Html.ActionLink("Все машины", "Cars", null, new { id = "allCarsButton", @class = "btn btn-primary" })
<div>
	<strong>@Model.Name</strong>
</div>
<div class="fotorama" data-width="800" data-allowfullscreen="native" data-nav="thumbs">
	@foreach (string photo in Model.Photos)
	{
		<img src="@Url.Content(photo)" class="car-photo" alt="@Model.Name photo" />
	}
</div>