@using System.Web.Optimization
@using abw.ViewModels;
@model CarForDisplay
@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section styles
{
	@Styles.Render("~/Content/styles/fotorama")
}

@section scripts
{
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['modules/initFotorama']);
		});
	</script>
}

@Html.ActionLink("Все машины", "Cars", null, new { @class = "all-cars-button btn btn-primary" })
<div>
	<strong>@Model.Name</strong>
</div>
<div class="fotorama-wrapper">
	<div class="fotorama" data-width="750" data-allowfullscreen="native" data-nav="thumbs" data-keyboard="true" data-loop="true">
		@foreach (string photo in Model.Photos)
		{
			<img src="@Url.Content(photo)" class="car-photo" alt="@Model.Name photo" />
		}
	</div>
</div>