@using System.Web.Optimization
@using abw.ViewModels;
@model CarForDisplay
@{
	ViewBag.Title = Model.Name;
}
@section styles
{
	@Styles.Render("~/cars")
}
@* todo: use another link name *@
@Html.ActionLink("Назад", "Cars", null, new { id = "backButton", @class = "btn btn-primary" })
<div>
	<strong>@Model.Name</strong>
</div>
@foreach (string photo in Model.Photos)
{
	<img src="@Url.Content(photo)" class="car-photo" alt="@Model.Name photo" />
}