@using System.Web.Optimization
@{
	ViewBag.Title = "Контакты";
}
@section styles
{
	@Styles.Render("~/Content/styles/custom/contacts")
}
@section scripts
{
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD0NvPmuC93QnT8a9mQGEXfpEM1UgMps4Q&sensor=false&language=ru"></script>
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['viewModels/contacts']);
		});
	</script>
}

<!-- ko with: contactsPage -->

<div class="section-wrapper">
	<div class="title">Место</div>
	<div id="mapWrapper" class="section">
		<div data-bind="template: { afterRender: initMap }" id="map">
			@* closing 'div' must be placed on the next line in order to init map properly *@
		</div>
	</div>
</div>

<div class="section-wrapper">
	<div class="title">Время</div>
	<table class="table table-bordered section">
		@{
			string time = "09:00 - 21:00";
		}
		<tr>
			<td>
				Понедельник
			</td>
			<td>
				@time
			</td>
		</tr>
		<tr>
			<td>Вторник</td>
			<td>@time</td>
		</tr>
		<tr>
			<td>Среда</td>
			<td>@time</td>
		</tr>
		<tr>
			<td>Четверг</td>
			<td>@time</td>
		</tr>
		<tr>
			<td>Пятница</td>
			<td>@time</td>
		</tr>
		<tr>
			<td>Субботу</td>
			<td>@time</td>
		</tr>
		<tr>
			<td>Воскресенье</td>
			<td>@time</td>
		</tr>
	</table>
</div>

<div class="section-wrapper">
	<div class="title">Контакты</div>
	<table id="contacts" class="table table-bordered section">
		<tr>
			<td>
				Контактное лицо
			</td>
			<td>
				Демьянович Пётр Васильевич
			</td>
		</tr>
		<tr>
			<td>
				Телефоны
			</td>
			<td>
				@Html.Partial("_Phones")
			</td>
		</tr>
		<tr>
			<td>
				Электронная почта
			</td>
			<td>
				<a href="mailto:demo_xxx@mail.ru">demo_xxx@mail.ru</a>
			</td>
		</tr>
	</table>
</div>

<!-- /ko -->