<header>
	<div id="adminMenuWrapper">
		@if (!User.Identity.IsAuthenticated)
		{
			<a data-bind="click: openSignInModal" id="signInLink">Войти</a>
		}
		else
		{
			string returnUrl = Request.Url != null
				? Request.Url.AbsolutePath
				: null;

			<div id="username">
				@User.Identity.Name
				<span class="caret"></span>
			</div>
			<div id="adminMenu">
				@Html.ActionLink("Машины", "Grid", "Cars")
				<hr />
				@Html.ActionLink("Выйти", "SignOut", "Account", new { returnUrl }, null)
			</div>
		}
	</div>

	@Html.Partial("_Phones")

	<div id="carLogos">
		<div>
			Оригинальные б/у запчасти из Европы
		</div>
		<a href="@Url.Action("CarsByMake", "Home", new { make = "seat" })">
			<img src="@Url.Content("~/Content/images/car-logos/seat.jpg")" alt="seat logo" />
		</a>
		<a href="@Url.Action("CarsByMake", "Home", new { make = "skoda" })">
			<img src="@Url.Content("~/Content/images/car-logos/skoda.jpg")" alt="skoda logo" />
		</a>
		<a href="@Url.Action("CarsByMake", "Home", new { make = "volkswagen" })">
			<img src="@Url.Content("~/Content/images/car-logos/volkswagen.png")" alt="volkswagen logo" />
		</a>
		<a href="@Url.Action("CarsByMake", "Home", new { make = "nissan" })">
			<img src="@Url.Content("~/Content/images/car-logos/nissan.jpg")" alt="nissan logo" />
		</a>
		<a href="@Url.Action("CarsByMake", "Home", new { make = "toyota" })">
			<img src="@Url.Content("~/Content/images/car-logos/toyota.png")" alt="toyota logo" />
		</a>
	</div>


	<ul class="nav nav-tabs">
		<li>@Html.ActionLink("Главная", "Index", "Home")</li>
		<li>@Html.ActionLink("Машины", "Cars", "Home")</li>
		<li>@Html.ActionLink("О нас", "About", "Home")</li>
		<li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
	</ul>
</header>