@using System.Web.Optimization
@using abw.Helpers
@using abw.ViewModels
@model Grid<CarForGrid>
@{
	ViewBag.Title = "Машины";
}
@section styles
{
	@Styles.Render("~/Content/styles/custom/grid")
}
@section scripts
{
	<script type="text/javascript">
		require(['main'], function (main) {
			main.loadModules(['viewModels/carsGrid'], function (carsGrid) {
				carsGrid(@Html.ToJs(Model), '@Url.Action("Delete")', '@Url.Action("cars", "admin")');
			});
		});
	</script>
}
@Html.ActionLink("Новая", "New", null, new { id = "newButton", @class = "btn btn-primary" })
<table data-bind="css: css" class="table table-striped table-bordered grid">
	@* todo: add sorting *@
	<thead>
		<tr>
			<th rowspan="2">Марка</th>
			<th rowspan="2">Модель</th>
			<th colspan="2" id="yearHeader">Год</th>
			<th rowspan="2"></th>
		</tr>
		<tr>
			<th>с</th>
			<th>по</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: list -->
		<tr>
			<td data-bind="text: make"></td>
			<td data-bind="text: model"></td>
			<td data-bind="text: yearFrom"></td>
			<td data-bind="text: yearTo"></td>
			<td>
				<a data-bind="attr: { href: '@Url.Action("Edit")' + '/' + id }" title="Редактировать">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<i data-bind="click: $root.deleteCar" class="glyphicon glyphicon-remove" title="Удалить"></i>
			</td>
		</tr>
		<!-- /ko -->
		@{ Html.RenderPartial("_GridFooter", 4); }
	</tbody>
</table>