@using System.Web.Optimization
@using abw.Helpers
@using abw.ViewModels
@model Grid<CarForDisplay>
@{
	ViewBag.Title = "Машины";
}
@section styles
{
	@Styles.Render("~/grid")
}
@section scripts
{
	<script type="text/javascript">
		require(['carsGrid'], function (carsGrid) {
			carsGrid(@Html.ToJs(Model), '@Url.Action("Delete")', '@Url.Action("All")');
		});
	</script>
}
@{ Html.RenderPartial("Buttons/_New"); }
<table data-bind="css: css" class="table table-striped table-bordered grid">
	@* todo: add sorting *@
	<thead>
		<tr>
			<th>Марка</th>
			<th>Модели</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: list -->
		<tr>
			<td>
				<a data-bind="text: make, attr: { href: '@Url.Action("Edit")' + '/' + id }" title="Редактировать"></a>
			</td>
			<td data-bind="foreach: models" id="carMakesColumn">
				<span data-bind="text: $data"></span>
			</td>
			<td data-bind="click: $root.deleteCar" title="Удалить">
				<i class="glyphicon glyphicon-remove" title="Удалить"></i>
			</td>
		</tr>
		<!-- /ko -->
		@{ Html.RenderPartial("_GridFooter", 3); }
	</tbody>
</table>