@using System.Web.Optimization
@using abw.Helpers
@model abw.ViewModels.SignInModel
@{
	ViewBag.Title = "Войти";
}
@section styles
{
	@Styles.Render("~/Content/styles/custom/forms")
}
@section scripts
{
	<script type="text/javascript">
		require(['signIn'], function (signIn) {
			@{
				List<string> errorMessages = CommonHelpers.GetErrorMessages(ViewData.ModelState);
			}
			signIn(@Html.ToJs(Model), @Html.ToJs(errorMessages));
		});
	</script>
}
<h3>Войти</h3>
<hr />
@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { data_bind = "submit: submit", id = "signInForm" }))
{
	@Html.HiddenFor(m => m.ReturnUrl, new { data_bind = "value: returnUrl" })
	<div>
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { data_bind = "value: name", autocomplete = "off" })
		@Html.ValidationMessageFor(m => m.Name)
	</div>

	<div>
		@Html.LabelFor(m => m.Password)
		@Html.PasswordFor(m => m.Password, new { data_bind = "value: password" })
		@Html.ValidationMessageFor(m => m.Password)
	</div>

	Html.RenderPartial("_SubmitArea");
}