@model abw.ViewModels.CarViewModel

<hr />
@Html.HiddenFor(m => m.Id, new { data_bind = "value: id" })

<div>
	@Html.LabelFor(m => m.Make)
	@Html.TextBoxFor(m => m.Make, new { autocomplete = "off" })
	@Html.ValidationMessageFor(m => m.Make)
</div>

<div>
	@Html.LabelFor(m => m.Model)
	@Html.TextBoxFor(m => m.Model, new { autocomplete = "off" })
	@Html.ValidationMessageFor(m => m.Model)
</div>

<div>
	@Html.LabelFor(m => m.Year)
	@Html.DropDownListFor(m => m.Year, Model.Years, "Выберите год")
	@Html.ValidationMessageFor(m => m.Year)
</div>

<div>
	@Html.LabelFor(m => m.Photo)
	@Html.TextBoxFor(m => m.Photo, new { type = "file", data_bind = "event: { change: photoChanged }" })
	@Html.ValidationMessageFor(m => m.Photo)
</div>

@{ Html.RenderPartial("_SubmitArea"); }