@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/globalStyles")
	@RenderSection("styles", false)
</head>
<body>
	<header>
		@{ Html.RenderPartial("_Phones"); }
		<ul class="nav nav-tabs">
			<li>@Html.ActionLink("Машины", "All", "Cars")</li>
			<li>@Html.ActionLink("Мои машины", "All", "MyCars")</li>
		</ul>
		<ul class="nav nav-tabs">
			<li>@Html.ActionLink("Главная", "Index", "Home")</li>
			<li>@Html.ActionLink("Каталог запчастей", "SparesCatalogue", "Home")</li>
			<li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
			<li>@Html.ActionLink("О нас", "About", "Home")</li>
		</ul>
	</header>
	@RenderBody()
	<script src="@Url.Content("~/Scripts/require.js")"></script>
	<script type="text/javascript">
		(function () {
			var baseUrl = '@Url.Content("~/Scripts/")';
			requirejs.config({
				paths: {
					'jquery': baseUrl + 'jquery-2.0.3',
					'bootstrap': baseUrl + 'bootstrap',
					'validation': baseUrl + 'validation/jquery.validate',
					'unobtrusive-validation': baseUrl + 'validation/jquery.validate.unobtrusive',
					'knockout': baseUrl + 'knockout/knockout-2.3.0',
					'knockout-mapping': baseUrl + 'knockout/knockout.mapping-2.4.0',
					'newCar': baseUrl + 'custom/newCar'
				},
				shim: {
					'bootstrap': {
						deps: ['jquery']
					},
					'validation': {
						deps: ['jquery']
					},
					'unobtrusive-validation': {
						deps: ['validation']
					},
					'knockout-mapping': {
						deps: ['knockout']
					}
				}
			});

			require(['jquery', 'bootstrap']);
		}());
	</script>
	@RenderSection("scripts", false)
</body>
</html>
