@using System.Web.Optimization
@using abw.ViewModels
@using abw.Web.Utilities.Helpers
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/styles/bootstrap/css")
	@Styles.Render("~/Content/styles/custom/global")
	@RenderSection("styles", false)
</head>
<body>
	@Html.Partial("Layout/_Header")

	@RenderBody()

	@Html.Partial("Layout/_Notifications")

	@Html.Partial("Layout/_Loader")

	@{
		SignInModal signInModal = null;
		if (!User.Identity.IsAuthenticated)
		{
			signInModal = new SignInModal();
			@Html.Partial("Layout/_SignInModal", signInModal)
		}
	}

	<script src="@Url.Content("~/Scripts/require-2.1.9.js")"></script>
	<script type="text/javascript">
		(function () {
			var baseUrl = '@Url.Content("~/Scripts/")';
			var bootstrapFolder = baseUrl + 'bootstrap/';
			var validationFolder = baseUrl + 'validation/';
			var knockoutFolder = baseUrl + 'knockout/';
			var customFolder = baseUrl + 'custom/';
			requirejs.config({
				paths: {
					'jquery': baseUrl + 'jquery-2.0.3',
					// bootstrap
					'bootstrap': bootstrapFolder + 'bootstrap',
					'bootstrap-notify': bootstrapFolder + 'bootstrap-notify',
					// validation
					'validation': validationFolder + 'jquery.validate-1.11.1',
					'unobtrusive-validation': validationFolder + 'jquery.validate.unobtrusive',
					// knockout
					'knockout': knockoutFolder + 'knockout-3.0.0',
					'knockout-mapping': knockoutFolder + 'knockout.mapping-2.4.0',

					'main': customFolder + 'main',
					// folders
					'viewModels': customFolder + 'viewModels',
					'modules': customFolder + 'modules',
					'customValidation': customFolder + 'validation',
					'bindings': customFolder + 'bindings'
				},
				shim: {
					'bootstrap': {
						deps: ['jquery']
					},
					'validation': {
						deps: ['jquery']
					},
					'unobtrusive-validation': {
						deps: ['validation']
					},
					'knockout-mapping': {
						deps: ['knockout']
					},
					'modules/notifications': {
						deps: ['bootstrap-notify']
					},
					'bootstrap-notify': {
						deps: ['jquery']
					}
				}
			});
		})();
	</script>

	@if (signInModal != null)
	{
		<script type="text/javascript">
			require(['main'], function (main) {
				main.loadModules(['viewModels/signInModal'], function (signInModal) {
					signInModal(@Html.ToJs(signInModal));
				});
			});
		</script>
	}

	@RenderSection("scripts", false)

	<script type="text/javascript">
		require(['main'], function (main) {
			main.applyBindings();
		});
	</script>
</body>
</html>