@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/globalStyles")
	@RenderSection("styles", false)
</head>
<body>
	<header>
		@{ Html.RenderPartial("_Phones"); }
		<ul class="nav nav-tabs">
			<li>@Html.ActionLink("Машины", "All", "Cars")</li>
			<li>@Html.ActionLink("Мои машины", "All", "MyCars")</li>
		</ul>
		<ul class="nav nav-tabs">
			<li>@Html.ActionLink("Главная", "Index", "Home")</li>
			<li>@Html.ActionLink("Каталог запчастей", "SparesCatalogue", "Home")</li>
			<li>@Html.ActionLink("Контакты", "Contacts", "Home")</li>
			<li>@Html.ActionLink("О нас", "About", "Home")</li>
		</ul>
	</header>

	@RenderBody()

	<div id="notification"></div>

	<div id="confirm" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div id="spinnerComplex">
		<div id="spinnerBackground"></div>
		<div id="spinnerWrapper">
			<div>
				<div id="spinner">
					<div id="bar1"></div>
					<div id="bar2"></div>
					<div id="bar3"></div>
					<div id="bar4"></div>
					<div id="bar5"></div>
					<div id="bar6"></div>
					<div id="bar7"></div>
					<div id="bar8"></div>
					<div id="bar9"></div>
					<div id="bar10"></div>
					<div id="bar11"></div>
					<div id="bar12"></div>
				</div>
			</div>
		</div>
	</div>

	<script src="@Url.Content("~/Scripts/require-2.1.9.js")"></script>
	<script type="text/javascript">
		(function () {
			var baseUrl = '@Url.Content("~/Scripts/")';
			var validationFolder = baseUrl + 'validation/';
			var knockoutFolder = baseUrl + 'knockout/';
			var customFolder = baseUrl + 'custom/';
			var customValidationFolder = customFolder + 'validation/';
			requirejs.config({
				paths: {
					'jquery': baseUrl + 'jquery-2.0.3',
					'bootstrap': baseUrl + 'bootstrap-3.1.1',
					'bootstrap-notify': baseUrl + 'bootstrap-notify-1.0',
					'validation': validationFolder + 'jquery.validate-1.11.1',
					'unobtrusive-validation': validationFolder + 'jquery.validate.unobtrusive',
					'knockout': knockoutFolder + 'knockout-3.0.0',
					'knockout-mapping': knockoutFolder + 'knockout.mapping-2.4.0',
					// custom
					'baseCar': customFolder + 'baseCar',
					'car': customFolder + 'car',
					'myCar': customFolder + 'myCar',
					'allCars': customFolder + 'allCars',
					'uniqueCarModels': customValidationFolder + 'uniqueCarModels',
					'addToValidationContext': customValidationFolder + 'addToValidationContext',
					'notifications': customFolder + 'notifications',
					'loader': customFolder + 'loader',
					'globalVars': customFolder + 'globalVars'
				},
				shim: {
					'bootstrap': {
						deps: ['jquery']
					},
					'validation': {
						deps: ['jquery']
					},
					'unobtrusive-validation': {
						deps: ['validation']
					},
					'knockout-mapping': {
						deps: ['knockout']
					},
					'notifications': {
						deps: ['bootstrap-notify']
					},
					'bootstrap-notify': {
						deps: ['jquery']
					}
				}
			});

			require(['jquery', 'bootstrap']);
		}());
	</script>
	<script type="text/javascript">
		require(['globalVars'], function (globalVars) {
			globalVars.siteUrl = '@Url.Content("~")';
		});
	</script>
	@RenderSection("scripts", false)
</body>
</html>
