@using System.Web.Optimization
@using abw.ViewModels
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/styles/bootstrap-3.1.1/css")
	@Styles.Render("~/Content/styles/custom/global")
	@RenderSection("styles", false)
</head>
<body>
	@Html.Partial("Layout/_Header")

	@RenderBody()

	@Html.Partial("Layout/_Notifications")

	@Html.Partial("Layout/_Loader")

	@if (!User.Identity.IsAuthenticated)
	{
		@Html.Partial("Layout/_SignInModal", new SignInModel())
	}

	@* todo: add scripts minification *@
	<script src="@Url.Content("~/Scripts/require-2.1.9.js")"></script>
	<script type="text/javascript">
		(function () {
			var baseUrl = '@Url.Content("~/Scripts/")';
			var validationFolder = baseUrl + 'validation/';
			var knockoutFolder = baseUrl + 'knockout/';
			var customFolder = baseUrl + 'custom/';
			requirejs.config({
				paths: {
					'jquery': baseUrl + 'jquery-2.0.3',
					'bootstrap': baseUrl + 'bootstrap-3.1.1',
					'bootstrap-notify': baseUrl + 'bootstrap-notify-1.0',
					// validation
					'validation': validationFolder + 'jquery.validate-1.11.1',
					'unobtrusive-validation': validationFolder + 'jquery.validate.unobtrusive',
					// knockout
					'knockout': knockoutFolder + 'knockout-3.0.0',
					'knockout-mapping': knockoutFolder + 'knockout.mapping-2.4.0',
					// custom
					// todo: refactor names, use 'modules/moduleName' principle
					'main': customFolder + 'main',
					'baseForm': customFolder + 'baseForm',
					'car': customFolder + 'car',
					'signIn': customFolder + 'signIn',
					'carsGrid': customFolder + 'carsGrid',
					'notifications': customFolder + 'notifications',
					'loader': customFolder + 'loader',
					'contacts': customFolder + 'contacts',
					// folders
					'customValidation': customFolder + 'validation',
					'bindings': customFolder + 'bindings'
				},
				shim: {
					'bootstrap': {
						deps: ['jquery']
					},
					'validation': {
						deps: ['jquery']
					},
					'unobtrusive-validation': {
						deps: ['validation']
					},
					// todo: load ko mapping with knockout
					'knockout-mapping': {
						deps: ['knockout']
					},
					'notifications': {
						deps: ['bootstrap-notify']
					},
					'bootstrap-notify': {
						deps: ['jquery']
					}
				}
			});

			// todo: get rid of 'window.$'
			require(['jquery', 'bootstrap']);
		})();
	</script>

	@RenderSection("scripts", false)

	<script type="text/javascript">
		require(['main'], function (main) {
			main.applyBindings();
		});
	</script>
</body>
</html>