@model abw.ViewModels.MyCarViewModel
<hr />
@Html.HiddenFor(m => m.Id, new { data_bind = "value: id" })

<div>
	@Html.LabelFor(m => m.MakeId)
	@for (int i = 0; i < Model.Makes.Count; i++)
	{
		@Html.HiddenFor(m => m.Makes[i].Value)
		@Html.HiddenFor(m => m.Makes[i].Text)
	}
	@Html.DropDownListFor(m => m.MakeId, Model.Makes,
		new { data_bind = "options: makes, optionsValue: 'value', optionsText: 'text', optionsCaption: 'Выберите марку', value: makeId, event: { change: carMakeChanged }" })
	@Html.ValidationMessageFor(m => m.MakeId)
</div>

<div>
	@Html.LabelFor(m => m.ModelId)
	<!-- ko foreach: models -->
	<input type="hidden" data-bind="value: value, attr: { name: 'Models[' + $index() + '].Value' }">
	<input type="hidden" data-bind="value: text, attr: { name: 'Models[' + $index() + '].Text' }">
	<!-- /ko -->
	@Html.DropDownListFor(m => m.ModelId, Model.Models,
		new { data_bind = "options: models, optionsValue: 'value', optionsText: 'text', optionsCaption: 'Выберите модель', value: modelId" })
	@Html.ValidationMessageFor(m => m.ModelId)
</div>

<div>
	@Html.LabelFor(m => m.Year)
	@Html.DropDownListFor(m => m.Year, Model.Years, "Выберите год")
	@Html.ValidationMessageFor(m => m.Year)
</div>

@{ Html.RenderPartial("_SubmitArea"); }
