@using abw.ViewModels
@model SignInModal

<div>
	@Html.LabelFor(m => m.Name)
	@Html.TextBoxFor(m => m.Name, new { data_bind = "value: name", autocomplete = "off" })
	@Html.ValidationMessageFor(m => m.Name)
</div>

<div>
	@Html.LabelFor(m => m.Password)
	@Html.PasswordFor(m => m.Password, new { data_bind = "value: password" })
	@Html.ValidationMessageFor(m => m.Password)
</div>